<div class="header">
  <h1 class="title"><a href="/">{{ site.name }}</a></h1>
  <nav class="site-navigation">
    <a class="extra" href="/">home</a>
    <ul class="nav navbar-nav navbar-right">
      {% for link in site.navbar-links %}
        {% if link[1].first %}
          <li class="navlinks-container">
            <a class="navlinks-parent" href="javascript:void(0)">{{ link[0] }}</a>
            <div class="navlinks-children">
              {% for childlink in link[1] %}
                {% for linkparts in childlink %}
                  {% include navbarlink.html link=linkparts %}
                {% endfor %}
              {% endfor %}
            </div>
          </li>
        {% else %}
          <li>
            {% include navbarlink.html link=link %}
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
</div>